/*
Design: 	Lucijan Blagonic
XHTML/CSS:	Lucijan Blagonic
*/

/* ==================================================
    =Here we go
===================================================== */

* { margin: 0; padding: 0; }

html { font:normal 100% 'Helvetica Neue', Arial, sans-serif; text-rendering: optimizeLegibility; }
body { background-color:#fff; color:#666; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* ==================================================
    =Icons
===================================================== */

@charset "UTF-8";

@font-face {
    font-family: "washicons";
        src:url("../assets/font/washicons.eot");
        src:url("../assets/font/washicons.eot?#iefix") format("embedded-opentype"),
        url("../assets/font/washicons.ttf") format("truetype"),
        url("../assets/font/washicons.svg#washicons") format("svg"),
        url("../assets/font/washicons.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}

.icon:before {
    font-family: "washicons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none !important;
    speak: none;
    display: inline-block;
    text-decoration: none;
    width: 1em;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
}

.icon-washicon-dryclean-w-3:before {content: "\e000"; }
.icon-washicon-dryclean-not-allowed:before {content: "\e001"; }
.icon-washicon-custom-detergent:before {content: "\e002"; }
.icon-washicon-tumble-dry-shade-drip:before {content: "\e003"; }
.icon-washicon-custom-t-shirt:before {content: "\e004"; }
.icon-washicon-custom-pants:before {content: "\e005"; }
.icon-washicon-iron:before {content: "\e006"; }
.icon-washicon-custom-laundry-basket-full:before {content: "\e007"; }
.icon-washicon-dryclean-a:before {content: "\e008"; }
.icon-washicon-wrink-not-allowed:before {content: "\e009"; }
.icon-washicon-custom-laundry-basket:before {content: "\e00a"; }
.icon-washicon-wet-clean-not-allowed:before {content: "\e00b"; }
.icon-washicon-custom-drop:before {content: "\e00c"; }
.icon-washicon-tumble-dry-shade-flat-surface:before {content: "\e00d"; }
.icon-washicon-dryclean-f:before {content: "\e00e"; }
.icon-washicon-dryclean-f-2:before {content: "\e00f"; }
.icon-washicon-tumble-dry-55deg-permanent-press:before {content: "\e010"; }
.icon-washicon-tumble-dry-55deg:before {content: "\e011"; }
.icon-washicon-tumble-dry-any-heat:before {content: "\e012"; }
.icon-washicon-iron-150deg:before {content: "\e013"; }
.icon-washicon-iron-200deg:before {content: "\e014"; }
.icon-washicon-washing-30deg-by-hand:before {content: "\e015"; }
.icon-washicon-tumble-dry-no-heat:before {content: "\e016"; }
.icon-washicon-washing-30deg-extra-care:before {content: "\e017"; }
.icon-washicon-washing-60deg-permanent-press:before {content: "\e018"; }
.icon-washicon-washing-50deg:before {content: "\e019"; }
.icon-washicon-washing-50deg-permanent-press-alt:before {content: "\e01a"; }
.icon-washicon-washing-40deg-permanent-press-alt:before {content: "\e01b"; }
.icon-washicon-washing-50deg-permanent-press:before {content: "\e01c"; }
.icon-washicon-washing-40deg:before {content: "\e01d"; }
.icon-washicon-washing-50deg-alt:before {content: "\e01e"; }
.icon-washicon-iron-110deg:before {content: "\e01f"; }
.icon-washicon-tumble-dry-75deg:before {content: "\e020"; }
.icon-washicon-washing-40deg-permanent-press:before {content: "\e021"; }
.icon-washicon-washing-40deg-extra-care-alt:before {content: "\e022"; }
.icon-washicon-tumble-dry-55deg-delicate-cycle:before {content: "\e023"; }
.icon-washicon-tumble-dry-shade:before {content: "\e024"; }
.icon-washicon-bleach-use-any-bleach:before {content: "\e025"; }
.icon-washicon-washing-40deg-alt:before {content: "\e026"; }
.icon-washicon-washing-40deg-extra-care:before {content: "\e027"; }
.icon-washicon-washing-30deg:before {content: "\e028"; }
.icon-washicon-washing-30deg-alt:before {content: "\e029"; }
.icon-washicon-bleach-not-allowed:before {content: "\e02a"; }
.icon-washicon-tumble-dry-line:before {content: "\e02b"; }
.icon-washicon-bleach-non-chlorine:before {content: "\e02c"; }
.icon-washicon-washing-not-allowed:before {content: "\e02d"; }
.icon-washicon-washing-95deg-alt:before {content: "\e02e"; }
.icon-washicon-washing-95deg-permanent-press-alt:before {content: "\e02f"; }
.icon-washicon-washing-normal:before {content: "\e030"; }
.icon-washicon-tumble-dry-65deg:before {content: "\e031"; }
.icon-washicon-dryclean-p:before {content: "\e032"; }
.icon-washicon-tumble-dry-65deg-permanent-press:before {content: "\e033"; }
.icon-washicon-iron-do-not-iron-or-press:before {content: "\e034"; }
.icon-washicon-dryclean-w:before {content: "\e035"; }
.icon-washicon-tumble-dry-drip:before {content: "\e036"; }
.icon-washicon-dryclean-p-2:before {content: "\e037"; }
.icon-washicon-dryclean-w-2:before {content: "\e038"; }
.icon-washicon-custom-washing-machine:before {content: "\e039"; }
.icon-washicon-custom-washing-machine-2:before {content: "\e03a"; }
.icon-washicon-custom-drying-machine:before {content: "\e03b"; }
.icon-washicon-tumble-dry-shade-line:before {content: "\e03c"; }
.icon-washicon-custom-iron-press:before {content: "\e03d"; }
.icon-washicon-tumble-dry-flat-surface:before {content: "\e03e"; }
.icon-washicon-tumble-dry-not-allowed:before {content: "\e03f"; }
.icon-washicon-washing-30deg-extra-care-alt:before {content: "\e040"; }
.icon-washicon-washing-30deg-permament-press-alt:before {content: "\e041"; }
.icon-washicon-washing-40deg-by-hand:before {content: "\e042"; }
.icon-washicon-washing-by-hand:before {content: "\e043"; }
.icon-washicon-washing-70deg-alt:before {content: "\e044"; }
.icon-washicon-washing-60deg-permanent-press-alt:before {content: "\e045"; }
.icon-washicon-washing-30deg-permament-press:before {content: "\e046"; }
.icon-washicon-washing-70deg:before {content: "\e047"; }
.icon-washicon-washing-95deg-permanent-press:before {content: "\e048"; }
.icon-washicon-washing-60deg-alt:before {content: "\e049"; }
.icon-washicon-washing-95deg:before {content: "\e04a"; }
.icon-washicon-washing-60deg:before {content: "\e04b"; }
.icon-washicon-iron-do-not-iron:before {content: "\e04c"; }
.icon-washicon-dryclean-low-heat:before {content: "\e04d"; }
.icon-washicon-dryclean-no-steam:before {content: "\e04e"; }
.icon-washicon-dryclean-reduced-moisture:before {content: "\e04f"; }
.icon-washicon-dryclean-short-cycle:before {content: "\e050"; }
.icon-washicon-dryclean:before {content: "\e051"; }

/* ==================================================
    =Layout & stuff
===================================================== */

#main {
    margin: 0 auto;
    text-align: left;
    position: relative;
    max-width: 46em;
    padding: 2em;
}

.main-content {
    margin: 1em 0;
    padding: 1em 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

/* Clearfix */
.main-content:after,
#washicons:after,
.view-details li:after,
.view-details ul:after,
.share:after {
    content: "";
    display: table;
    clear: both;
}

h1, h2, h3, h4 { margin-bottom: .25em; color: #222; }

h1 { font-size:24px; font-size:1.5rem; line-height:1.3; }
h2 { font-size:20px; font-size:1.25rem; line-height:1.2; }
h3 { font-size:18px; font-size:1.125rem; line-height:1.2; }
h4 { font-size:16px; font-size:1rem; line-height:1.2; }

p, li, th, td {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.45;
}

a { 
    color: #1364a3; 
    text-decoration: underline; 
    -webkit-transition: all .05s ease;
    -moz-transition:    all .05s ease;
    -ms-transition:     all .05s ease;
    -o-transition:      all .05s ease;
    transition:         all .05s ease;
}
a:hover, a:focus    { color: #222; text-decoration: none; }
strong              { font-weight:700; color:#444; }

/* Site branding */
.site-title {
    font-size: 48px;
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 0;
}
.site-tagline {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.6;
    font-weight: 200;
}
.site-description {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.4;
}

/* Washicons */
#washicons {}

.change-view {
    display: inline-block;
    font-size: 14px;
    font-size: 0.875rem;
    margin-bottom: 2em;    
}

.icon-container ul { list-style: none; }
.icon-container li {}
.icon-container .group-title {
    clear: both;
}
.icon-container .icon {
    line-height: 1;
    font-size: 32px;
    font-size: 2rem;
    display: block;
    padding: .125em;
    color: #666;
    color: rgba(0,0,0,.6);

    -webkit-border-radius: .075em;
    -moz-border-radius:    .075em;
    border-radius:         .075em;

    -webkit-transition: all .05s ease;
    -moz-transition:    all .05s ease;
    -ms-transition:     all .05s ease;
    -o-transition:      all .05s ease;
    transition:         all .05s ease;
}
.wash .icon       { background-color: #b8e2f2; }
.bleach .icon     { background-color: #e1ded9; }
.dry .icon        { background-color: #d9eb9d; }
.dryclean .icon   { background-color: #ece8b2; }
.wring .icon   { background-color: #dfbed2; }
.iron .icon       { background-color: #fdcf92; }
.custom .icon       { background-color: #eee; }

/* View table */
.view-table .group-title,
.view-table .description { display: none; }

.view-table li {
    float: left;
    width: 3em;
    height: 3em;
    margin-right: .5em;
    margin-bottom: .5em;

    position: relative;
}
.view-table .icon {
    padding: .25em;
    position: relative;
    z-index: 1;
}
.view-table li:hover {}
.view-table li:hover .icon {
    color: #000;
    color: rgba(0,0,0,.9);
    font-size: 64px;
    font-size: 4rem;
    padding: .5em;
    -webkit-border-radius: 50%;
    -moz-border-radius:    50%;
    border-radius:         50%;

    position: absolute;
    z-index: 2;
    top: -.625em;
    left: -.625em;

    -webkit-box-shadow:  0 0 .25em rgba(0,0,0,.2);
            box-shadow:  0 0 .25em rgba(0,0,0,.2);
}

/* View details */
.view-details li {
    padding: .5em 1em .5em 6em;
    border-top: 1px solid #e8e8e8;
}
.view-details li:first-child { border-top: none }
.view-details .group-title {
    font-size: 24px;
    font-size: 1.5rem;
    color: #222;
    font-weight: 200;
    margin-bottom: .25em;
}
.view-details .icon-container {
    padding: 1em 0;
}
.view-details .icon {
    float: left;
    font-size: 64px;
    font-size: 4rem;
    margin-left: -1.5em;
    color: rgba(0,0,0,.7);
}
.view-details .description p {
    font-size: 14px;
    font-size: 0.875rem;
    margin-bottom: .125em;
    line-height: 1.35;
}
.view-details .description h4 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.35;
    color: #333;
}
.view-details .description .alt {
    font-size: 11px;
    font-size: 0.6875rem;
    padding: .25em .5em;
    font-weight: 400;
    color: #444;
    background-color: #fcdd81;
    text-transform: uppercase;

    -webkit-border-radius:     .25em;
    -moz-border-radius:        .25em;
    border-radius:             .25em;
}
.view-details .css-class {
    font-size: 11px;
    font-size: 0.6875rem;
    color: #aaa;
    display: block;
}

/* Download */
#download p {
    font-size: 12px;
    font-size: .75rem;
}

.button {
    display:inline-block;
    padding:.5em 1em;
    margin-top: 1em;
    margin-bottom: 1em;

    font-weight: 200;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.4;

    background-color: #1364a3;
    color:#fff;
    border:none;
    text-align:center;
    
    text-decoration: none;
    cursor:pointer;

    -webkit-border-radius:  .25em;
    -moz-border-radius:     .25em;
    border-radius:          .25em;

    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,.3));
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,.3));
    background-image: -o-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,.3));
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,.3));
    background-image: linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,.3));
    
}
.button:hover, button:hover {
    color: #fff;    
    background-color:#222;
}

.share {margin-top: 1em; }
.share .facebook,
.share .twitter { float: left; margin-right: 1em; }

/* Footer */
#page-footer p {
    font-size: 12px;
    font-size: .75rem;
    color: #aaa;
}

